.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vh;
  margin-top: 4vh;
}

.content {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 13px -1px rgba(133, 133, 133, 0.671);
  border-radius: 5px;
}

.main h2 {
  color: black;
  text-align: right;
  align-self: flex-start;
  margin-left: 2vw;
  font-size: 2vh;
  font-weight: bolder 
}


.tableTop {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 98%;
  align-items:center;
  justify-content:space-between;
  height: 10vh;
  border-radius: 1vh;
}

.blueButton {
  border-color:#0d83f8;
  border-radius:.5vh;
  font-weight:bold;
  color:#0d83f8;
  border-width:1px;
  padding:.8vh;
  margin-right:1vh;
  width:5vw
}

.table {
  width: 98%;
  border-radius: 10px; 
  margin-bottom: 1vh;
  font-size: 1.4vh;
}

.roundedTable {
  border-radius: 10px; 
}

.btnPag{
  color: #0d83f8;
  border: 1px solid #0d83f8;
  font-size: 1.2vh;
  width: 5vw;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

.btnNum{
  font-size: 1.2vh;
  padding: 0.3vh;
  background-color: #ececec;
  border-radius: 5px;
  width: 1.3vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.btnNumSel{
  font-size: 1.2vh;
  padding: 0.3vh;
  background-color: #0d83f8;
  color: white;
  border-radius: 5px;
  width: 1.3vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.tables {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}
